#
# As suggested in the standard /etc/sudoers of debian distribution: 
# Please consider adding local content in /etc/sudoers.d/ instead of
# directly modifying this file.
#
# In this file, /etc/sudores.d/{{ os_group.name }}, is configured the
# sudo access without passowrd for system group {{ os_group.name }} 

%{{ os_group.name }} ALL=(ALL) NOPASSWD: ALL
