#
# As suggested in the standard /etc/sudoers of debian distribution: 
# Please consider adding local content in /etc/sudoers.d/ instead of
# directly modifying this file.
#
# In this file, /etc/sudores.d/{{item.name}}, is configured the
# sudo access without passowrd for system group {{item.name}} 

%{{item.name}} ALL=(ALL) NOPASSWD: ALL
