#
# As suggested in the standard /etc/sudoers of debian distribution: 
# Please consider adding local content in /etc/sudoers.d/ instead of
# directly modifying this file.
#
# In this file, /etc/sudores.d/{{ os_group.name }}, is configured the
# sudo access, providing their passowrd, for system group {{ os_group.name }} 

# As sudo in /etc/sudores, allow members of group to execute any command

%{{ os_group.name }}   ALL=(ALL:ALL) ALL